@model CarRentingAsp.Models.Customer
@{
    ViewData["Title"] = "Register";
}


  <head>
    <title>Car Renting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
  </head>
	
  <body>
    <!--Nav-->
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Car<span> Renting</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
	          <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
	          <li class="nav-item"><a href="car.html" class="nav-link">Cars</a></li>
	          <li class="nav-item"><a href="@Url.Action("Contact","Home")" class="nav-link">Contact</a></li>
			  <li class="nav-item"><a href="@Url.Action("Login","CarRenting")" class="nav-link">Login</a></li>
			  <li class="nav-item active"><a href="@Url.Action("Register","CarRenting")" class="nav-link">Register</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- End Nav -->
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Register <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Register</h1>
          </div>
        </div>
      </div>
    </section>

    <!--Register Section-->
    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-8 block-9 mb-md-5">
           <form asp-action="Register" class="bg-light p-5 contact-form">
            <div asp-validation-sumary="ModelOnly"></div>
              <div class="form-group">

                <label asp-for="First_Name"><b>First Name</b></label>
                <input asp-for="First_Name" class="form-control"/>
                <span asp-validation-for="First_Name" class="text-danger"></span>
              
			 
				<label asp-for="Last_Name"><b>Last Name</b></label>
                <input asp-for="Last_Name" class="form-control"/>
                <span asp-validation-for="Last_Name" class="text-danger"></span>
             
				<label asp-for="Username"><b>Username</b></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
             
				<label asp-for="Email"><b>Email</b></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
              
				<label asp-for="Password"><b>Password</b></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Last_Name" class="text-danger"></span>
              
				<label asp-for="Birth_Date"><b>Birth Date</b></label>
                <input asp-for="Birth_Date" class="form-control"/>
                <span asp-validation-for="Birth_Date" class="text-danger"></span>
              
				<label asp-for="Driver_License"><b>Driver License</b></label>
                <input asp-for="Driver_License" class="form-control"/>
                <span asp-validation-for="Driver_License" class="text-danger"></span>
              </div>
              <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
            </div>
           </form>
          
          </div>
        </div>
      </div>
    </section>
	  <!--End Register Section-->
	  

     <!--Footer-->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2"><a href="index.html" class="logo">Car<span> Renting</span></a></h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="about.html" class="py-2 d-block">About</a></li>
                <li><a href="services.html" class="py-2 d-block">Services</a></li>
                <li><a href="term_and_conditions.html" class="py-2 d-block">Term and Conditions</a></li>
                <li><a href="pricing.html" class="py-2 d-block">Best Price Guarantee</a></li>
                <li><a href="privacy_cookies_policy.html" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="contact.html" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Str. Alexandru Ioan Cuza 13, Craiova, Romania</span></li>
	                <li><span class="icon icon-phone"></span><span class="text">+40 0768858511</span></li>
	                <li><span class="icon icon-envelope"></span><span class="text">support@yahoo.com</span></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
          </div>
        </div>
      </div>
    </footer>
    <!--End Footer-->
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


 <script src="~/js/jquery.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery.waypoints.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.animateNumber.min.js"></script>
  <script src="~/js/bootstrap-datepicker.js"></script>
  <script src="~/js/jquery.timepicker.min.js"></script>
  <script src="~/js/scrollax.min.js"></script>
  <script src="~/js/main.js"></script>
    
  </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}