@model CarRentingAsp.Models.Car

@{
    ViewData["Title"] = "EditCarEmployer";
}

<head>
    <title>Car Renting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
  </head>
	
  <body>
    <header>
    <!--Nav-->
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand">Car<span> Renting</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a class="nav-link text-dark" asp-controller="CarRentingEmployer" asp-action="IndexEmployer">Home</a></li>
	          <li class="nav-item"><a class="nav-link text-dark" asp-controller="CarRentingEmployer" asp-action="SeeBookingEmployer">Booking</a></li>
	          <li class="nav-item"><a class="nav-link text-dark" asp-controller="CarRentingEmployer" asp-action="SeeReviewEmployer">Review</a></li>
	         <li class="nav-item"><a class="nav-link text-dark" asp-controller="CarRentingEmployer" asp-action="SeeQuestionEmployer">Question</a></li>
              <li class="nav-item"><a class="nav-link text-dark" asp-controller="CarRentingEmployer" asp-action="SeeCarEmployer">Cars</a></li>
	            <partial name="_LoginPartial" />  
          </ul>
	      </div>
	    </div>
	  </nav>
    <!-- End Nav -->
    </header>
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-3 bread">Edit</h1>
          </div>
        </div>
      </div>
    </section>

    <!--Edit Section-->
    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-8 block-9 mb-md-5">
           <form asp-action="EditCarEmployer">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="CarId" />
            <div class="form-group">

                
              
				<label asp-for="Make"><b>Make</b></label>
                <input asp-for="Make" class="form-control"/>
                <span asp-validation-for="Make" class="text-danger"></span>
                
              
			 
				<label asp-for="Model"><b>Model</b></label>
                <input asp-for="Model" class="form-control"/>
                <span asp-validation-for="Model" class="text-danger"></span>
             
				<label asp-for="Model_Year"><b>Model Year</b></label>
                <input asp-for="Model_Year" class="form-control"/>
                <span asp-validation-for="Model_Year" class="text-danger"></span>
             
				<label asp-for="Mileage"><b>Mileage</b></label>
                <input asp-for="Mileage" class="form-control"/>
                <span asp-validation-for="Mileage" class="text-danger"></span>
              
				<label asp-for="Registration_Number"><b>Registration Number</b></label>
                <input asp-for="Registration_Number" class="form-control"/>
                <span asp-validation-for="Registration_Number" class="text-danger"></span>
              
				<label asp-for="Status"><b>Status</b></label>
                <select id="Status" name="Status">
                    <option value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                    <option value="In Service">In Service</option>
                </select>
                <p></p>
              
				<label asp-for="Price_Hour"><b>Price Hour</b></label>
                <input asp-for="Price_Hour" class="form-control"/>
                <span asp-validation-for="Price_Hour" class="text-danger"></span>

                <label asp-for="Price_Day"><b>Price Day</b></label>
                <input asp-for="Price_Day" class="form-control"/>
                <span asp-validation-for="Price_Day" class="text-danger"></span>

                <label asp-for="Price_Month"><b>Price Month</b></label>
                <input asp-for="Price_Month" class="form-control"/>
                <span asp-validation-for="Price_Month" class="text-danger"></span>

                <label asp-for="Fee_Per_Hour"><b>Fee Per Hour</b></label>
                <input asp-for="Fee_Per_Hour" class="form-control"/>
                <span asp-validation-for="Fee_Per_Hour" class="text-danger"></span>

                <label asp-for="Fuel"><b>Fuel</b></label>
               <select id="Fuel" name="Fuel">
                    <option value="Diesel">Diesel</option>
                    <option value="Gasoline">Gasoline</option>
                    <option value="Hybrid">Hybrid</option>
                    <option value="Electric">Electtric</option>
                </select>
                <p></p>

                <label asp-for="Transmission"><b>Transmission</b></label>
                <select id="Transmission" name="Transmission">
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
                 <p></p>

                <label asp-for="Traction"><b>Traction</b></label>
                <select id="Traction" name="Traction">
                    <option value="FWD">Front Wheel Drive</option>
                    <option value="RWD">Rear Wheel Drive</option>
                    <option value="AWD">All Wheel Drive</option>
                </select>
                <p></p>

                <label asp-for="Lenght"><b>Lenght</b></label>
                <input asp-for="Lenght" class="form-control"/>
                <span asp-validation-for="Lenght" class="text-danger"></span>

                <label asp-for="Width"><b>Width</b></label>
                <input asp-for="Width" class="form-control"/>
                <span asp-validation-for="Width" class="text-danger"></span>

                <label asp-for="Height"><b>Height</b></label>
                <input asp-for="Height" class="form-control"/>
                <span asp-validation-for="Height" class="text-danger"></span>

                <label asp-for="Trunk"><b>Trunk</b></label>
                <input asp-for="Trunk" class="form-control"/>
                <span asp-validation-for="Trunk" class="text-danger"></span>

                <label asp-for="Engine"><b>Engine</b></label>
                <input asp-for="Engine" class="form-control"/>
                <span asp-validation-for="Engine" class="text-danger"></span>

                <label asp-for="Displacement"><b>Displacement</b></label>
                <input asp-for="Displacement" class="form-control"/>
                <span asp-validation-for="Displacement" class="text-danger"></span>

                <label asp-for="Fuel_System"><b>Fuel_System</b></label>
                <input asp-for="Fuel_System" class="form-control"/>
                <span asp-validation-for="Fuel_System" class="text-danger"></span>

                <label asp-for="Horsepower"><b>Horsepower</b></label>
                <input asp-for="Horsepower" class="form-control"/>
                <span asp-validation-for="Horsepower" class="text-danger"></span>

                <label asp-for="Torque"><b>Torque</b></label>
                <input asp-for="Torque" class="form-control"/>
                <span asp-validation-for="Torque" class="text-danger"></span>

                <label asp-for="Consumption_Urban"><b>Consumption_Urban</b></label>
                <input asp-for="Consumption_Urban" class="form-control"/>
                <span asp-validation-for="Consumption_Urban" class="text-danger"></span>

                <label asp-for="Consumption_Extra_Urban"><b>Consumption_Extra_Urban</b></label>
                <input asp-for="Consumption_Extra_Urban" class="form-control"/>
                <span asp-validation-for="Consumption_Extra_Urban" class="text-danger"></span>

                <label asp-for="Consumption_Combine"><b>Consumption_Combine</b></label>
                <input asp-for="Consumption_Combine" class="form-control"/>
                <span asp-validation-for="Consumption_Combine" class="text-danger"></span>

                <label asp-for="Acceleration"><b>Acceleration</b></label>
                <input asp-for="Acceleration" class="form-control"/>
                <span asp-validation-for="Acceleration" class="text-danger"></span>

                <label asp-for="Max_Speed"><b>Max_Speed</b></label>
                <input asp-for="Max_Speed" class="form-control"/>
                <span asp-validation-for="Max_Speed" class="text-danger"></span>

                <label asp-for="Imagine_Name"><b>Imagine_Name</b></label>
                <input asp-for="Imagine_Name" class="form-control"/>
                <span asp-validation-for="Imagine_Name" class="text-danger"></span>

                <label asp-for="Car_CategoryId">Car Category</label>
                <select asp-for="Car_CategoryId" class="form-control" asp-items="ViewBag.Car_CategoryId"></select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input asp-action="SeeCarEmployer" type="submit" value="Back"/>
            </div>

        </form>
          
          </div>
        </div>
      </div>
    </section>
   
	  <!--End Edit Section-->
	  

    
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


 <script src="~/js/jquery.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery.waypoints.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.animateNumber.min.js"></script>
  <script src="~/js/bootstrap-datepicker.js"></script>
  <script src="~/js/jquery.timepicker.min.js"></script>
  <script src="~/js/scrollax.min.js"></script>
  <script src="~/js/main.js"></script>
    
  </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}